-
    var productCard = [
        {
            href: "#",
            head: "Сказочное заморское меню",
            headHover: "котэ не одобряет?",
            title: "Нямушка",
            desc: "с фуа-гра",
            amt: 10,
            gift: 10,
            img: {
                folder: "content",
                name: "cat",
                format: "png",
                width: "368",
                height: "360",
                alt: "серый кот с цепочкой"
            },
            weight: "0,5",
            units: "кг",
            isDisabled: false,
            selected: "Печень утки разварная с артишоками."
        },
        {
            href: "#",
            head: "Сказочное заморское меню",
            headHover: "котэ не одобряет?",
            title: "Нямушка",
            desc: "с рыбой",
            amt: 40,
            gift: 4,
            img: {
                folder: "content",
                name: "cat",
                format: "png",
                width: "368",
                height: "360",
                alt: "серый кот с цепочкой"
            },
            weight: "2",
            units: "кг",
            isDisabled: false,
            selected: "Головы щучьи с чесноком да свежайшая сёмгушка.",
        },
        {
            href: "#",
            head: "Сказочное заморское меню",
            headHover: "котэ не одобряет?",
            title: "Нямушка",
            desc: "с курой",
            amt: 100,
            gift: 5,
            add: "заказчик доволен",
            img: {
                folder: "content",
                name: "cat",
                format: "png",
                width: "368",
                height: "360",
                alt: "серый кот с цепочкой"
            },
            weight: "5",
            units: "кг",
            isDisabled: true,
            selected: "Филе из цыплят с трюфелями в бульоне.",
        },
    ]